body {
    font-family: Arial, sans-serif;
    background-color: hsl(56, 100%, 97%);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

#container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.bubble {
    padding: 30px 40px;
    border-radius: 50px;
    background-color: #dddddd;
    margin: 10px;
    transition: background-color 0.3s;
    position: relative;
}

/* Different colors for different topics */
.data {
    background-color: #F1948A;
}

.opleiding {
    background-color: #85C1E9;
}

.duurzaamheid {
    background-color: #F7DC6F;
}

.supply {
    background-color: #58D68D;
}

.organisatie {
    background-color: #BB8FCE;
}

.tooltip {
    visibility: hidden;
    background-color: white;
    color: #333;
    text-align: left;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    position: absolute;
    z-index: 1;
    bottom: 70%; 
    left: 50%;
    margin-left: -80px;
    opacity: 0;
    transition: opacity 0.3s;
}

.tooltip::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: white transparent transparent transparent;
}

.bubble:hover .tooltip {
    visibility: visible;
    opacity: 1;
}


